# Compiled Go binaries.
adminPanel/adminPanel
sessionProxy/sessionProxy
sessionManager/sessionManager
www/wwwServer

# Maven build output.
guacAutoConnect/target/
guacAutoConnect/dependency-reduced-pom.xml
