# Handle the main website.
http://example.com, www.example.com {
    # The main website.
    root * /srv
    file_server

    # Keep logs. Caddy should be smart enough to automatically rotate logs.
    log {
        output file /data/access.log
    }
}

# If you want to have Caddy handle serving individual user websites, then this section might work.
users.example.com {
    # Match the /username pattern.
    handle_path /* {
        # Extract the username from the path into a variable.
        vars username {path.0}
        
        # Set the root to that user's specific www folder.
        root * /home/{vars.username}/www
        
        # Serve the files.
        file_server browse
    }

    # Handle the "users" site root here - serve the Start Menu index page.
    handle {
        root * /var/www/html
        file_server
    }
}
