[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-CommandsWithParameter=/usr/bin/chromium--no-sandbox "%s"
Icon=chromium--no-sandbox
Name=chromium--no-sandbox
X-XFCE-Commands=/usr/bin/chromium--no-sandbox
