name: pangolin
services:
  # A Cloudflare Zero-Trust tunnel. Requires an access token obtained from the Cloudflare console.
  # Can provide both tunneling and authentication, used just as an option for tunneling here, with Pangolin used for authentication (and as an alternative for tunneling, if wanted).
  tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared-tunnel
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token {{CLOUDFLARED_TOKEN}}
    networks:
      - main

  # Fossorial's Pangolin - can provide tunneling and authentication, basically a self-hostable version of Cloudflare Tunnels. See: https://pangolin.net
  pangolin:
    image: fosrl/pangolin:latest
    container_name: pangolin
    restart: unless-stopped
    networks:
      - main
    volumes:
      - ./config:/app/config
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/api/v1/"]
      interval: "10s"
      timeout: "10s"
      retries: 15
  
  # Part of Fossorial's containerised Pangolin setup. A reverse proxy.
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped

    depends_on:
      pangolin:
        condition: service_healthy
    command:
      - --configFile=/etc/traefik/traefik_config.yml
    networks:
      - main
    volumes:
      - ./config/traefik:/etc/traefik:ro # Volume to store the Traefik configuration
      - ./config/letsencrypt:/letsencrypt # Volume to store the Let's Encrypt certificates
      - ./config/traefik/logs:/var/log/traefik # Volume to store Traefik logs
  
  # Guacd - The Apache Guacamole (web-based remote desktop) proxy daemon.
  # Note the lack of a database container instance, generally included in the standard containerised Guacamole setup.
  # This is because we are using our own custom authentication plugin to provide connection details for users logging in via Pangolin.
  guacd:
    image: guacamole/guacd:latest
    container_name: guacd
    restart: unless-stopped
    networks:
      - main
  
  # Guacamole Client - The Guacamole web interface.
  guacamole:
    image: guacamole/guacamole:latest
    container_name: guacamole
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      GUACD_HOSTNAME: guacd
      HTTP_AUTH_ENABLED: "true"
      HTTP_AUTH_HEADER: Remote-User
      WEBAPP_CONTEXT: desktop
    depends_on:
      - guacd
    networks:
      - main
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      # /etc/guacamole is where the custom Java extension needs to be placed.
      - /etc/guacamole:/etc/guacamole

  # Our own custom Go web server.
  wwwserver:
    image: {{DOCKERWWWSERVER_DOCKER_IMAGE}}
    command: /usr/local/bin/wwwServer
    container_name: wwwserver
    restart: unless-stopped
    networks:
      - main
    volumes:
      # We share the list of users and groups (read only) with the web server container so that CGI execute permissions (handled with the suEXEC module) can work properly.
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      # The individual users' web folders.
      - /var/www/html:/var/www
      ## We mount the log files so that we can share those with individual user containers so that users can see any CGI errors.
      #- /var/log/apache2/access.log:/var/log/apache2/access.log
      #- /var/log/apache2/error.log:/var/log/apache2/error.log

# We have to create an explicitly named network, otheriwse automatic DNS resolution doesn't work with the default network when new containers are added via "docker run".
networks:
  main:
    driver: bridge
